---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:confetti" class="w-5 h-5 inline-block align-text-bottom" /> September Sale:</span
    > 50% off all all rings until sold out!
  </div>
</section>
