---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import RingFeature from '~/components/widgets/RingFeature.astro';

import goldring from '~/assets/images/goldring.png';
import silverring from '~/assets/images/silverring.png';
import diamondring from '~/assets/images/diamondring.jpg';

const metadata = {
  title: 'Lee & Son — Jewelry for the modern man',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'View Store',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:shopping-bag',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/diamondring.jpg', alt: 'lee&son Hero Image' }}
  >
    <Fragment slot="title">
      Lee & Son <span class="hidden xl:inline">- Jewelry For The Modern Man</span>
      <span class="text-accent dark:text-white highlight"> </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Experienced ringmakers since 1802</span> - specialising in durable gold necklaces and
        rings.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
      Suitable for yourself, birthday gifts, fathers day, & other special occasions.
    </Fragment>
  </Hero>

  <RingFeature
    id="shop"
    tagline="Latest Arrivals"
    title="Get Your New Ring Today"
    subtitle="Established in 1802, this elegant jewelry store specializes in handcrafted rings, merging timeless craftsmanship with contemporary design."
    items={[
      {
        title: 'Gold Ring',
        description:
          'Work closely with our skilled artisans to create a one-of-a-kind ring tailored to your personal style and story.',
        icon: 'tabler:brand-tailwind',
        image: goldring,
      },
      {
        title: 'Silver Ring',
        description:
          'Trust our experts to restore and repair your cherished rings, preserving their beauty and history for generations to come.',
        icon: 'tabler:components',
        image: silverring,
      },
      {
        title: 'Diamond Ring',
        description:
          'Trust our experts to restore and repair your cherished rings, preserving their beauty and history for generations to come.',
        icon: 'tabler:components',
        image: diamondring,
      },
    ]}
  />

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="Our Story"
    subtitle="Established in 1802, this elegant jewelry store specializes in handcrafted rings, merging timeless craftsmanship with contemporary design."
    items={[
      {
        title: 'Custom Ring Design',
        description:
          'Work closely with our skilled artisans to create a one-of-a-kind ring tailored to your personal style and story.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ring Restoration and Repair',
        description:
          'Trust our experts to restore and repair your cherished rings, preserving their beauty and history for generations to come.',
        icon: 'tabler:components',
      },
    ]}
  />
</Layout>
