---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import RingFeature from '~/components/widgets/RingFeature.astro';

import goldring from '~/assets/images/goldring.png';
import silverring from '~/assets/images/silverring.png';
import diamondring from '~/assets/images/diamondring.jpg';
import RingContact from '~/components/widgets/RingContact.astro';
import RingNote from '~/components/widgets/RingNote.astro';

const metadata = {
  title: 'Lee & Son — Jewelry for the modern man',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'View Store',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:shopping-bag',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/diamondring.jpg', alt: 'lee&son Hero Image' }}
  >
    <Fragment slot="title">
      <span>Jewelry For The</span>
      <span class="text-secondary dark:text-white highlight">Modern Man</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Experienced ringmakers since 1802</span> - specialising in durable gold necklaces and
        rings.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
      Suitable for yourself, birthday gifts, fathers day, & other special occasions.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <RingNote />

  <RingFeature
    id="shop"
    tagline="Latest Arrivals"
    title="Get Your New Ring Today"
    subtitle="Established in 1802, this elegant jewelry store specializes in handcrafted rings, merging timeless craftsmanship with contemporary design."
    items={[
      {
        title: 'Gold Ring',
        description:
          'This bold gold ring combines a classic design with a contemporary edge, making it the ultimate statement piece for any modern man.',
        icon: 'tabler:brand-tailwind',
        image: goldring,
      },
      {
        title: 'Silver Ring',
        description:
          'Crafted from premium silver, this sleek ring features a minimalist design that perfectly balances elegance and rugged masculinity.',
        icon: 'tabler:components',
        image: silverring,
      },
      {
        title: 'Diamond Ring',
        description:
          'Adorned with shimmering diamonds, this striking ring exudes luxury and sophistication, ideal for the discerning gentleman.',
        icon: 'tabler:components',
        image: diamondring,
      },
    ]}
  />

  

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="What We Do"
    title="Personalized Creations and Expert Repairs"
    subtitle="We specialize in custom design, engraving, repair, and material sourcing for men's rings and necklaces, delivering personalized, high-quality jewelry tailored to your unique style."
    items={[
      {
        title: 'Custom Ring and Necklace Design',
        description:
          'Craft personalized rings and necklaces tailored to individual tastes, from initial sketches to finished, one-of-a-kind pieces.',
        icon: 'tabler:diamond',
      },
      {
        title: 'Engraving and Personalization',
        description:
          'Add unique engravings, such as initials or meaningful symbols, to rings and necklaces for a personal touch.',
        icon: 'tabler:writing',
      },
      {
        title: 'Jewelry Repair and Restoration',
        description:
          'Provide expert repair services, including resizing rings, fixing broken chains, and restoring worn-out jewelry to its original condition.',
        icon: 'tabler:hammer',
      },
      {
        title: 'Metal and Stone Sourcing',
        description:
          'Offer sourcing of high-quality metals and gemstones, helping clients select materials that best suit their style and budget.',
        icon: 'tabler:businessplan',
      }
    ]}
  />

  <RingContact />
</Layout>
